header {
    height: 100px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    padding: 30px;
    z-index: 1;
}

header > h1 {
    color: #ffffff;
    cursor: pointer;
}

header > input {
    width: calc(100% - 250px);
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
}

header > input:focus {
    outline: none;
}

header > button {
    border: 3px solid #ffffff;
    border-radius: 10px;
    background-color: transparent;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
}
