.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

.modal-container {
    width: 80vw;
    max-width: 500px;
    max-height: 90vh;
    position: relative;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 30px;
    overflow: scroll;
}

.modal-contents {
    max-height: calc(90vh - 60px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: scroll;
}

.modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.modal-close > img {
    width: 20px;
    height: 20px;
}

.modal-poster {
    height: 400px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.modal-poster > img {
    height: 100%;
}

.modal-title {
    color: #000000;
    font-size: 20px;
    font-weight: 700;
}

.modal-overview {
    color: #000000;
    font-size: 16px;
}

.modal-release {
    color: #aaaaaa;
    font-size: 14px;
}

.modal-average {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
}

.modal-bookmark {
    border: none;
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}
